{{- $context := merge (dict) . (index .platforms .profile) -}}
{{- if eq .profile "mac" -}}
{{ includeTemplate "profiles/mac/dot_config/opencode/opencode.json.tmpl" $context }}
{{- else if eq .profile "linux" -}}
{{ includeTemplate "profiles/linux/dot_config/opencode/opencode.json.tmpl" $context }}
{{- else if eq .profile "windows" -}}
{{ include ".chezmoitemplates/profiles/windows/dot_config/opencode/opencode.json" }}
{{- else if eq .profile "wsl" -}}
{{ include ".chezmoitemplates/profiles/wsl/dot_config/opencode/opencode.json" }}
{{- else -}}{{ fail "Target is unavailable for this profile" }}{{- end -}}
