{{- $context := merge (dict) . (index .platforms .profile) -}}
{{- if eq .profile "windows" -}}
{{ includeTemplate "profiles/windows/run_onchange_after_60-watch-storage-scout.ps1.tmpl" $context }}
{{- else -}}{{ fail "Target is unavailable for this profile" }}{{- end -}}
