$ErrorActionPreference = 'Stop'
& cargo run --locked --manifest-path {{ includeTemplate "ps_quote" (printf "%s/xtask/Cargo.toml" .chezmoi.sourceDir) }} -- --root {{ includeTemplate "ps_quote" (.chezmoi.sourceDir) }} setup runtime --config {{ includeTemplate "ps_quote" (.chezmoi.configFile) }} --live
exit $LASTEXITCODE
