{{- $context := merge (dict) . (index .platforms .profile) -}}
{{- if eq .profile "mac" -}}
{{ includeTemplate "profiles/mac/run_onchange_before_install-gh.sh.tmpl" $context }}
{{- else if eq .profile "linux" -}}
{{ includeTemplate "profiles/linux/run_onchange_before_install-gh.sh.tmpl" $context }}
{{- else if eq .profile "wsl" -}}
{{ includeTemplate "profiles/wsl/run_onchange_before_install-gh.sh.tmpl" $context }}
{{- else -}}{{ fail "Target is unavailable for this profile" }}{{- end -}}
