[Desktop Entry]
Type=Application
Version=1.0
Name=Kitty + Herdr
Comment=Open the Herdr terminal workspace
Exec={{ .chezmoi.homeDir }}/.local/bin/kitty-herdr
Icon={{ .chezmoi.homeDir }}/.local/kitty.app/share/icons/hicolor/256x256/apps/kitty.png
Terminal=false
Categories=System;TerminalEmulator;
StartupNotify=true
StartupWMClass=dotfiles-herdr
Keywords=shell;prompt;command;commandline;cmd;herdr;
