[Desktop Entry]
Type=Application
Version=1.0
Name=Kitty + Nushell
Comment=Open Nushell without Herdr
Exec={{ .chezmoi.homeDir }}/.local/bin/kitty-nu
Icon={{ .chezmoi.homeDir }}/.local/kitty.app/share/icons/hicolor/256x256/apps/kitty.png
Terminal=false
Categories=System;TerminalEmulator;
StartupNotify=true
StartupWMClass=dotfiles-nu
Keywords=shell;prompt;command;commandline;cmd;nushell;
