{{- $context := merge (dict) . (index .platforms .profile) -}}
{{- if eq .profile "windows" -}}
{{ includeTemplate "profiles/windows/dot_config/git/config.tmpl" $context }}
{{- else -}}{{ fail "Target is unavailable for this profile" }}{{- end -}}
