{{- $context := merge (dict) . (index .platforms .profile) -}}
{{- if eq .profile "mac" -}}
{{ includeTemplate "profiles/mac/dot_config/storage-scout/auto.toml.tmpl" $context }}
{{- else if eq .profile "linux" -}}
{{ includeTemplate "profiles/linux/dot_config/storage-scout/auto.toml.tmpl" $context }}
{{- else if eq .profile "windows" -}}
{{ includeTemplate "profiles/windows/dot_config/storage-scout/auto.toml.tmpl" $context }}
{{- else -}}{{ fail "Target is unavailable for this profile" }}{{- end -}}
