#!/bin/sh
# configuration: {{ . | toJson | sha256sum }}
exec {{ includeTemplate "sh_quote" (joinPath .chezmoi.homeDir ".local/bin/dotfiles-xtask") }} --root {{ includeTemplate "sh_quote" .chezmoi.sourceDir }} setup tools --config {{ includeTemplate "sh_quote" .chezmoi.configFile }} --live
