{{- $context := merge (dict) . (index .platforms .profile) -}}
{{- if eq .profile "linux" -}}
{{ includeTemplate "profiles/linux/dot_local/share/applications/kitty-nu.desktop.tmpl" $context }}
{{- else -}}{{ fail "Target is unavailable for this profile" }}{{- end -}}
