$ErrorActionPreference = 'Stop'
& {{ includeTemplate "ps_quote" (joinPath .chezmoi.homeDir ".local/bin/dotfiles-xtask.exe") }} --root {{ includeTemplate "ps_quote" (.chezmoi.sourceDir) }} setup github --config {{ includeTemplate "ps_quote" (.chezmoi.configFile) }} --live
exit $LASTEXITCODE
