{{- $context := merge (dict) . (index .platforms .profile) -}}
{{- if eq .profile "mac" -}}
{{ include ".chezmoitemplates/profiles/mac/dot_config/herdr/config.toml" }}
{{- else if eq .profile "linux" -}}
{{ include ".chezmoitemplates/profiles/linux/dot_config/herdr/config.toml" }}
{{- else -}}{{ fail "Target is unavailable for this profile" }}{{- end -}}
